body {
    @include body-font;
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    line-height: 1.75;
}

a {
    color: rgba($secondary, 1);
}

a:hover {
    color: rgba($secondary, 0.8);
}

.text-faded {
    color: fade-out($white, 0.7);
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;

    a {
        text-decoration: none !important;
        color: #fff;
    }


    @include heading-font;

    .site-heading-upper {
        display: block;
        font-size: 2rem;
        font-weight: 800;
    }

    .site-heading-lower {
        font-size: 5rem;
        font-weight: 100;
        line-height: 4rem;
    }
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .product-item {
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.section-heading {
    text-transform: uppercase;

    .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }

    .section-heading-lower {
        display: block;
        font-size: 3rem;
        font-weight: 100;

        @include media-breakpoint-down(md) {
            font-size: 2.5rem;
        }
    }
}

.bg-faded {
    background-color: fade-out($white, 0.15);

    @include media-breakpoint-down(sm) {
        &.p-5 {
            padding: 2rem 1rem !important;
        }
    }
}


#mainNav .navbar-nav .dropdown-menu .nav-link {
    color: #e6a756 !important;
}


img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mt-40 {
    margin-top: 2.5rem;
}

.mt-50 {
    margin-top: 3.125rem;
}

.mb-30 {
    margin-bottom: 1.875rem;
}

.mb-50 {
    margin-bottom: 3.125rem;
}

.mb-150 {
    margin-bottom: 9.375rem;
}

.bold-font {
    font-weight: 700;
}

.centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: none;

    .overlay-close {
        color: #fff;
        text-align: right;
        width: 100%;
        font-size: 3rem;
        padding: 2rem;
    } 
}
